@import "tailwindcss";

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --breakpoint-xs: 430px;
  --breakpoint-sm: 640px;
  --breakpoint-sm2: 700px;
  --breakpoint-md2: 900px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.btn-primary {
  @apply bg-blue-600 hover:bg-blue-800  cursor-pointer text-white py-2 px-4 rounded transition-all;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 cursor-pointer text-black py-2 px-4 rounded transition-all;
}

.btn-disable {
  @apply bg-gray-600 text-white cursor-pointer py-2 px-4 rounded transition-all;
}